<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786466973238-8v19gq83o927niadorolmvts501v3jn6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786466973238-8v19gq83o927niadorolmvts501v3jn6</string>
	<key>API_KEY</key>
	<string>AIzaSyC-BXfz1vd342KBhsEK-7HwkVDZ9OFGCbg</string>
	<key>GCM_SENDER_ID</key>
	<string>786466973238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appditto.blaise</string>
	<key>PROJECT_ID</key>
	<string>blaise-a22fa</string>
	<key>STORAGE_BUCKET</key>
	<string>blaise-a22fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786466973238:ios:59d3b6ab52a943d3</string>
	<key>DATABASE_URL</key>
	<string>https://blaise-a22fa.firebaseio.com</string>
</dict>
</plist>